.description-container {
  grid-column: 2/span 5;
  h1 {
    font-size: 3rem;
  }
  span {
    display: block;
    margin-bottom: 10px;
  }
  .overview {
    max-width: 500px;
  }
  .rating {
    .rating-value {
      color: yellow;
    }
  }
  
}